version: '3.9'

services:
  callers-db:
    image: mariadb:10.11
    container_name: health-manager-db
    network_mode: host
    privileged: true
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: callers
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - ./callers-storage:/var/lib/mysql

  health-devices:
    image: jasonacox/tinytuya
    container_name: health-manager-devices
    network_mode: host
    privileged: true
    restart: unless-stopped
    environment:
      - DEBUGMODE=no
      - HOST=192.168.10.1
    volumes:
      - ./callers-wizard/devices.json:/app/devices.json
      - ./callers-wizard/tinytuya.json:/app/tinytuya.json
    ports:
      - "8888:8888"
      - "6666:6666/udp"
      - "6667:6667/udp"
      - "7000:7000/udp"

  callers-py:
    build:
      context: ./callers-py
      dockerfile: Dockerfile
    container_name: health-manager-callers-py
    network_mode: host
    privileged: true
    restart: unless-stopped

  callers-go:
    build:
      context: ./callers-go
      dockerfile: Dockerfile
    container_name: health-manager-callers-service
    network_mode: host
    privileged: true
    restart: unless-stopped
    environment:
      - DB_HOST=127.0.0.1
      - DB_PORT=3306
      - DB_NAME=callers
      - DB_USER=appuser
      - DB_PASS=apppass
    volumes:
      - ./mariadb_data:/data